<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <head>
    <title>Обновление данных о пользователе</title>
  </head>
<body>
<h1>Добавление нового пользователя</h1>
<form th:action="@{/registration}" method="post" th:object="${userForm}">
  <input type="hidden" th:field="*{id}">
  <label for="name">Имя:</label>
  <input type="text" th:field="*{name}" id="name" name="name"><br><br>
  <label for="lastName">Фамилия:</label>
  <input type="text" th:field="*{lastName}" id="lastName" name="lastName"><br><br>
  <label for="email">Email:</label>
  <input type="email" th:field="*{email}" id="email" name="email"><br><br>
  <label for="password">Пароль:</label>
  <input type="password" th:field="*{password}" id="password" name="password"><br><br>
  <button type="submit">Save</button>
</form>
<br>

<a type="button" class="btn" th:href="@{/admin/users}">Cancel</a>
</body>
</html>