<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <head>
    <title>Обновление данных о пользователе</title>
  </head>
<body>
<h1>Обновление данных о пользователе</h1>
<form action="#" th:action="@{/update/{id}(id=${user.id})}" method="post" th:object="${user}">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="name" class="col-form-label">Name</label>
      <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
    </div>
    <div class="form-group col-md-7">
      <label for="name" class="col-form-label">LastName</label>
      <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="LastName">
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
    </div>
    <div class="form-group col-md-8">
      <label for="email" class="col-form-label">Email</label>
      <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5">
      <input type="submit" class="btn btn-primary" value="Update User">
    </div>
  </div>
</form>
<br>

<a type="button" class="btn" th:href="@{/user/__${id}__}">Cancel</a>
</body>
</html>