<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/static/style.css}" type="text/css"/>
    <title>Admin Page</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark" style="display: block; color: white">
    <div class="container-fluid">
        <span id="myUserDetails" class="navbar-brand ">
        </span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-link text-white-50" value="Logout"/>
        </form>
    </div>
</nav>

<div>
    <div class="block-left custom-col-left nav nav-pills flex-column back-white" id="v-pills-tab" role="tablist">
        <b class="nav-link active pill" id="v-pills-admin-tab" data-bs-toggle="pill"
           data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin"
           aria-selected="true">Admin
        </b>
        <b class="nav-link pill" id="v-pills-user-tab" data-bs-toggle="pill"
           data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user"
           aria-selected="false" onclick="loadUserTable()">User
        </b>
    </div>

    <div class="tab-content custom-tabs block-right section" id="v-pills-tabContent">

        <div class="tab-pane fade show active pillContent v-pills-admin-tab" id="v-pills-admin" role="tabpanel"
             aria-labelledby="v-pills-admin-tab" tabindex="0">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active" role="tab">
                    <button class="nav-link active taba" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">
                        Users Table
                    </button>
                </li>
                <li class="nav-item" role="tab">
                    <button class="nav-link taba" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false" onclick="newUser()"
                    >New User
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show tabaContent home-tab active" id="home" role="tabpanel"
                     aria-labelledby="home-tab">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-header">All Users</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show border tabaContent profile-tab" id="profile" role="tabpanel"
                     aria-labelledby="profile-tab">
                    <div class="card">
                        <h5 class="card-header">New user</h5>
                        <div class="card-body d-flex justify-content-center text-center">
                            <form id="newUser">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name</label>
                                    <input id="name" type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group mt-4">
                                    <label for="lastName" class="col-form-label">Last name</label>
                                    <input id="lastName" type="text" class="form-control" name="lastName">
                                </div>
                                <div class="form-group mt-4">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input id="email" type="email" class="form-control" name="email">
                                </div>
                                <div class="form-group mt-4">
                                    <label for="password" class="col-form-label">Password</label>
                                    <input id="password" type="text" class="form-control" name="password">
                                </div>
                                <div class="form-group mt-4">
                                    <label class="row font-weight-bold justify-content-center"
                                           for="roleSelect">Role</label>
                                    <select multiple class="form-control" size="2" id="roleSelect"
                                            name="roles">
                                        <option id="roleNewUser" value="1">USER</option>
                                        <option id="roleNewAdmin" value="2">ADMIN</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg mt-3" id="signup-submit"
                                        form="newUser">Add new user
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade show pillContent v-pills-user-tab" id="v-pills-user" role="tabpanel"
             aria-labelledby="v-pills-user-tab"
             tabindex="0">
            <h2>About User</h2>
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody id="userProfile">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--######################### Код, отвечающий за изменение пользователя #########################-->

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
            </div>
            <div class="modal-body text-center d-flex justify-content-center">
                <form id="editForm">
                    <label for="id_ed" class="col-form-label">Id</label>
                    <input id="id_ed" type="text" readonly="readonly" name="editedUserId" class="form-control">
                    <div class="form-group mt-4">
                        <label for="name_ed" class="col-form-label">Name</label>
                        <input id="name_ed" type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group mt-4">
                        <label for="lastName_ed" class="col-form-label">Last name</label>
                        <input id="lastName_ed" type="text" class="form-control" name="lastName">
                    </div>
                    <div class="form-group mt-4">
                        <label for="email_ed" class="col-form-label">Email</label>
                        <input id="email_ed" type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group mt-4">
                        <label for="password_ed" class="col-form-label">Password</label>
                        <input id="password_ed" type="text" class="form-control" name="password">
                    </div>
                    <div>
                        <label class="mt-4" for="rolesForEditing">Role</label>
                        <select multiple class="form-control" size="2" id="rolesForEditing" name="roles">
                            <option id="roleUser" value="1">USER</option>
                            <option id="roleAdmin" value="2">ADMIN</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="editCloseBtn">Close
                </button>
                <button type="button" class="btn btn-primary" id="editBtn" onclick="editUser(); getAdminPage()">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>

<!--######################### Код, отвечающий за удаление пользователя #########################-->


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete user</h4>
            </div>
            <div class="modal-body text-center d-flex justify-content-center">
                <form id="deleteForm">
                    <label for="id_del" class="col-form-label">Id</label>
                    <input id="id_del" type="text" readonly="readonly" name="deletedUserId" class="form-control">
                    <div class="form-group mt-4">
                        <label for="name_del" class="col-form-label">Name</label>
                        <input id="name_del" type="text" readonly="readonly" class="form-control" name="name">
                    </div>
                    <div class="form-group mt-4">
                        <label for="lastName_del" class="col-form-label">Last name</label>
                        <input id="lastName_del" type="text" readonly="readonly" class="form-control"
                               name="lastName">
                    </div>
                    <div class="form-group mt-4">
                        <label for="email_del" class="col-form-label">Email</label>
                        <input id="email_del" type="email" readonly="readonly" class="form-control"
                               name="email">
                    </div>
                    <div class="form-group mt-4">
                        <label for="password_del" class="col-form-label">Password</label>
                        <input id="password_del" type="text" readonly="readonly" class="form-control"
                               name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteCloseBtn">Close
                </button>
                <button type="submit" class="btn btn-danger" id="deleteBtn" onclick="deleteUser(); getAdminPage()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/static/functions.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
