<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<form th:action="@{/user/get/{id}(id=${user.id})}" th:method="get" th:object="${user}">
    <table>
        <thead>
        <tr>
            <th>Username </th>
            <th>Lastname </th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <form>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
        </form>
        </tbody>
    </table>
</form>
<br>
<form th:action="@{/admin/edit/__${user.id}__}" method="get">
    <input type="hidden" name="_method" value="edit"/>
    <button type="submit" id="edit">Edit</button>
    <label for="edit">Only for admin</label>
</form>
<br>
<form th:action="@{/}" method="get">
    <input type="hidden" name="userId"/>
    <button type="submit">Back to main page</button>
</form>
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>